<% provide(:title, "Instructor Home Page") %>
<% provide(:main_content_header, "Instructor Home Page") %>
<% content_for :side_nav do %>
  <% render partial: "layouts/instructor_side_nav" %>
<% end %>
<div class = "row">
    <!-- Student Last Name -->
    <div class="four columns">
      <label for="last-name">Last Name</label>
       <input id="first-name" class="u-full-width" type="text">
    
    </div>
     <!-- Dot Number -->
     <div class="two columns">
      <label for="dot=number">Dot Number</label>
       <input id="first-name" class="u-full-width" type="text">
    </div>
    </div>
    <h5 class="border-bottom-1-px">Student Rating</h5>
    <div class = "row">
      <input type="radio" name="rating" value="1">1<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="2">2<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="3">3<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="4">4<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="5">5<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="6">6<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="7">7<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="8">8<br>
    </div>
      <div class = "row">
      <input type="radio" name="rating" value="9">9<br>
    </div>
    <div class = "row">
      <input type="radio" name="rating" value="10">10<br>
    </div>
   
    <div class="row">
              <div class="twelve columns">
                <label for="comments">Comments</label>
                <textarea id="comments" class="u-full-width"></textarea>
              </div>
            </div>
      
    </div>
    </div>
    <div class = "row">