<% provide(:title, "401 - Access Denied") %>
<% provide(:main_content_header, "401 - Access Denied") %>
<% content_for :side_nav do %>
  <% if current_user.role == "admin" %>
    <% render partial: "layouts/admin_side_nav" %>
  <% elsif current_user.role == "instructor" %>
    <% render partial: "layouts/instructor_side_nav" %>
  <% else %>
    <% render partial: "layouts/student_side_nav" %>
  <% end %>
<% end %>
<img class="center-img" src="/images/access_denied.jpg" alt="Access Denied">
<h5 class="center-text">You do not have permission to view this page.</h5>